*{
    background-color: lavender;
    color: purple;
    font-family: Arial;
    margin: 0;
}
header{
    background-color: rgb(181, 108, 233);
    color: whitesmoke;
    padding: 10px;
    font-size: 16pt;
}
footer{
    background-color: rgb(181, 108, 233);
    color: whitesmoke;
    padding: 10px;
    font-size: 16pt;
    font-style: italic;
    text-align: left;
}
a{
    color: rgb(60, 29, 82);
    text-decoration: none;
    transition: 1s 2s;
}
a:link{
    color: rgb(60, 29, 82);
}
a:visited{
    color: purple;
}
a:hover{
    text-decoration: underline;
    color: red;
    transition: 0.3s;
}
a:active{
    color: black;
    opacity: 0.3;
}
