*{
    background-color: lavender;
    color: purple;
    font-family: Arial;
    margin: 0;
}
header{
    background-color: rgb(181, 108, 233);
    color: whitesmoke;
    padding: 10px;
    font-size: 16pt;
}
main{
    margin: 10px 20px 45px;
}
footer{
    background-color: rgb(181, 108, 233);
    color: whitesmoke;
    padding: 10px;
    font-size: 16pt;
    font-style: italic;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
}
a{
    color: rgb(60, 29, 82);
    text-decoration: none;
    transition: 1s 2s;
}
a:link{
    color: rgb(60, 29, 82);
}
a:visited{
    color: purple;
}
a:hover{
    text-decoration: underline;
    color: red;
    transition: 0.3s;
}
a:active{
    color: black;
    opacity: 0.3;
}
div.menu{
    border: 7px solid rgba(86, 43, 116, 0.598);
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}
div.menu:hover{
    background-color: white;
    box-shadow: 0 0 15px rgb(60, 59, 59);
}
h1{
    margin: 20px;
    text-align: center;
    font-size: 20pt;
}